+template("history_tmpl")
    .panel.panel-default.history-menu
        .panel-body
            button.close#history-panel-close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h4.list-group-item-heading ${Message}
            p.list-group-item-text
              small
                span.glyphicon.glyphicon-user
                | &nbsp; ${User} &nbsp;
                span.glyphicon.glyphicon-time
                | &nbsp;
                a#history-panel-date(data-toggle="tooltip", data-placement="bottom" , title="${DateTimeString}") ${DateTime}
                br
                a#history-panel-count(data-toggle="tooltip", data-placement="bottom") ${Count.All} Nodes

            .list-group-item-text(style="padding-top: 10px")
                .btn-group
                    a.btn.btn-default#first-revision(href='#')
                        span.glyphicon.glyphicon-fast-backward
                    a.btn.btn-default#prev-revision(href='#')
                        span.glyphicon.glyphicon-chevron-left
                    a.btn.btn-default#next-revision(href='#')
                        span.glyphicon.glyphicon-chevron-right
                    a.btn.btn-default#last-revision(href='#')
                        span.glyphicon.glyphicon-fast-forward
+template("nodecount_tmpl")
    .panel.panel-default.history-menu
        .panel-body
            button.close#nodecount-panel-close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            p.list-group-item-text
              h4 Nodes under ${Name}
              ul.list-unstyled
                li All: ${Count.All} Nodes
                li Goal: ${Count.Goal} Nodes
                li Evidence: ${Count.Evidence} Nodes
                li Context: ${Count.Context} Nodes
                li Strategy: ${Count.Strategy} Nodes
+template("nodelist_tmpl")
    .panel.panel-default.node-list-panel
        .panel-body
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h4.list-group-item-heading ${Message}
            p.list-group-item-text
              small
                a.nodelist-panel-count(data-toggle="tooltip", data-placement="bottom") ${Count.All} Nodes
            ul.nav.nav-pills.nav-stacked.nav-small.nodelist-listbody
                |{{each Nodes}}
                li(data-index="${$index}")
                    a(href='#') ${$value.Label}: ${$value.Content}
                |{{/each}}
            .list-group-item-text(style="padding-top: 10px")
                .btn-group
                    a.btn.btn-default.prev-item(href='#')
                        span.glyphicon.glyphicon-chevron-left
                    a.btn.btn-default.next-item(href='#')
                        span.glyphicon.glyphicon-chevron-right
#sidebar(style="position: absolute; top: 60px; left: 10px; width: 260px;")
    #history
    #nodecount
    #nodelist

