include mixin
doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-quiv="Expires", content="259200")
    // for mobile browser
    meta(name='viewport', content='initial-scale=1.0,width=device-width,user-scalable=no')
    title AssureNote
    +css('/lib/bootstrap/css/bootstrap.min.css')
    +css('/lib/bootstrap-switch/bootstrap-switch.min.css')
    +css('/lib//animate-custom.min.css')
    +css('/lib/codemirror/codemirror.min.css')
    +css('/lib/codemirror/show-hint.css')
    +css('/css/dcase-node.css')
    +css('/css/sidemenu.css')
    +css('/css/historymenu.css')
    +css('/css/index.css')
    +css('/css/topmenu.css')
    +css('/css/codehighlight.css')
  body
    img#loading-indicator(src=basepath+'/images/spin.svg' width="100" height="100")
    #assure-note.full-size-layer
      input#file-open-dialog(type='file', accept='.wgsn,.dcase_model', style='display:none;')
      #auto-expand-area
      svg#svglayer-box.full-size-layer(xmlns='http://www.w3.org/2000/svg', version='1.1')
      #eventmap-layer.full-size-layer(touch-action='none')
      #content-layer.zero-size-layer
      #control-layer.zero-size-layer
        #singlenode-editor-wrapper(style='border: 1px solid black')
          textarea#singlenode-editor(placeholder='Type something...', style='display: none;')
      #fixed-control-layer.zero-size-layer(style='width: 100%;')
        include topmenu
        input#command-line.form-control(type='text', style='width:100%; bottom:0px; left:0px; position:fixed; display: none; font-size:large')
        include history
      #plugin-layer.zero-size-layer
        #editor-background.full-size-layer(style='display: none;')
        #editor-wrapper(style='border: 1px solid black')
          textarea#editor(placeholder='Type something...', style='display: none;')
    svg(width='0', height='0')
      defs
        marker#Triangle-black(viewbox='0 0 10 10', refx='10', refy='5', markerunits='strokeWidth', markerwidth='15', markerheight='9', orient='auto')
          path(d='M 0 0 L 10 5 L 0 10 z', fill='gray', stroke='gray')
        marker#Triangle-white(viewbox='0 0 10 10', refx='10', refy='5', markerunits='strokeWidth', markerwidth='15', markerheight='9', orient='auto')
          path(d='M 0 0 L 10 5 L 0 10 z', fill='white', stroke='gray')
        polygon#undevelopd-master.assurenote-default(fill='none', stroke='#333', stroke-width='1.5', points='0 -20 -20 0 0 20 20 0')
        rect#goal-master.assurenote-default(width='1', height='1')
        polygon#strategy-master.assurenote-default(points='0.08,0 1,0 0.92,1 0,1')
        ellipse#evidence-master.assurenote-default(cx='1', cy='1', rx='0.5', ry='0.5')
    // Help Modal
    #help-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='help-modal-label', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h4#help-modal-label.modal-title Help&colon; Command list
          .modal-body
            ul
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    // About Modal
    #about-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='about-modal-label', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h4#about-modal-label.modal-title About
          .modal-body(style='text-align: center;')
            img(src='#{basepath}/images/logo.png', alt='AssureNote', style='width: 60%')
            p Version 0.2.3
            p Copyright &copy; 2014, AssureNote project authors. All rights reserved.
            h3 Credit
            ul.list-inline
              li Atsushi Uchida
              li Kimio Kuramitsu
              li Shunsuke Shida
              li Tetsuro Matsumura
              li Yuki Okamoto
              li Yusuke Nakayama
            h3 Special Thanks
            ul.list-inline
              li
                img(src='#{basepath}/images/logo_deos.png', width='100px', height='100px')
                br
                | DEOS project
              li
                img(src='#{basepath}/images/logo_ynu.png', width='100px', height='100px')
                br
                | Yokohama National Univercity
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    #welcome-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='about-modal-label', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h4#about-modal-label.modal-title AssureNote
          .modal-body
            
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    #plugin-modal
    +js('/lib/jquery.min.js')
    +js('/lib/jquery.tmpl.min.js')
    +js('/lib/jquery.jqdock.min.js')
    +js('/lib/jquery.cookie.min.js')
    +js('/lib/jquery.mousewheel.min.js')
    +js('/lib/pointerevents.min.js')
    +js('/lib/codemirror/codemirror.min.js')
    +js('/lib/codemirror/show-hint.min.js')
    +js('/lib/codemirror/highlight/wgsn.min.js')
    +js('/lib/codemirror/autocomplete/wgsn-hint.min.js')
    +js('/lib/codemirror/autocomplete/wgsn.min.js')
    +js('/lib/FileSaver.min.js')
    +js('/lib/notify.min.js')
    +js('/lib/bootstrap/js/bootstrap.min.js')
    +js('/lib/bootstrap-switch/bootstrap-switch.min.js')
    +js('/lib/socket.io.min.js')
    if isDevelopment
      +js('/src/AssureNoteUtils.js')
      +js('/src/AssureNoteParser.js')
      +js('/src/DCaseModelXMLParser.js')
      +js('/src/XMIParser.js')
      +js('/src/Panel.js')
      +js('/src/PictgramPanel.js')
      +js('/src/CommandLine.js')
      +js('/src/Command.js')
      +js('/src/TopMenu.js')
      +js('/src/GSNShape.js')
      +js('/src/NodeView.js')
      +js('/src/LayoutEngine.js')
      +js('/src/AssureNote.js')
      +js('/src/Viewport.js')
      +js('/src/Plugin.js')
      +js('/src/ModeManager.js')
      +js('/src/NodeMenu.js')
      +js('/src/SearchNode.js')
      +js('/src/Socket.js')
      +js('/src/Editor.js')
      +js('/src/RecApi.js')
      +js('/src/Tooltip.js')
      +js('/src/UserList.js')
      +js('/src/HistoryView.js')
      +js('/src/ImageData.js')
    include config
    if isDevelopment
      +js_async('/plugin/SingleNodeEditor/SingleNodeEditor.js')
      +js_async('/plugin/FullScreenEditor/FullScreenEditor.js')
      +js_async('/plugin/FoldingViewSwitch/FoldingViewSwitch.js')
      +js_async('/plugin/MessageChat/MessageChat.js')
      +js_async('/plugin/AddNode/AddNode.js')
      +js_async('/plugin/RemoveNode/RemoveNode.js')
      +js_async('/plugin/ToDo/ToDo.js')
      +js_async('/plugin/LastModified/LastModified.js')
      +js_async('/plugin/VariableInterpolation/VariableInterpolation.js')
      +js('/plugin/MonitorNode/MonitorNode.js')
    script#default-case-ja(type='text/wgsn')
      | * G &2422f9c3
      | ゴール: ある性質が成り立つという主張
      | * C &45255f17
      | 前提: 主張が成り立つ状況
      | * S &137c4f60
      | 戦略: 主張を分解する指標
      | ** G &35938c38
      | サブゴール: 分解された主張
      | ** E &654abc0c
      | 証拠: サブゴールの成立を支持する事実
      | ** C &6072c487
      | 反証: 証拠に対する反例
      | ** G &152377e9
      | 未達成なサブゴール
    script#default-case-en(type='text/wgsn')
      | * G &2422f9c3
      | Goal: A claim that a system certainly has some desirable properties.
      | * C &45255f17
      | Context: A contextual artefact.
      | * S &137c4f60
      | Strategy: A reason for claim decomposition.
      | ** G &35938c38
      | SubGoal
      | ** E &654abc0c
      | Evidence:  A piece of materials to support that the linked claim.
      | ** C &6072c487
      | Rebuttal
      | ** G &152377e9
      | Undeveloped
    if isDevelopment
      +js('/index.js')
    else
      +js('/build/AssureNote.min.js')
    if Analytics_UA != null && Analytics_UA != ''
      include analytics 
