#user-info
  .glyphicon.glyphicon-user
  | &nbsp; #{UserName} 
  //a(href='#{basepath}/case/${caseId}/history/${revisionId}') #{Message} 
  //.span
    //small ${count} nodes
  //p.list-group-item-text
      //small
      //    |${userName} commited
      //    abbr(title="${dateTimeString}") ${dateTime}
  //.list-group-item-heading
    a(href='#{basepath}/case/${caseId}/${prevRevision}')
      span.glyphicon.glyphicon-circle-arrow-left
    a(href='#{basepath}/case/${caseId}') 
      span.glyphicon.glyphicon-ok-sign
    a(href='#{basepath}/case/${caseId}/${nextRevision}')
      span.glyphicon.glyphicon-circle-arrow-right
