#user-info
  .glyphicon.glyphicon-user
  | &nbsp; #{UserName} 
  if(UserName != "Guest")
    a.btn(href='#{basepath}/logout') 
      button.btn-large
        span.glyphicon.glyphicon-log-out LogOut
  else
    a.btn(href='#{basepath}/auth/github') 
      button.btn-large
        span.glyphicon.glyphicon-log-out LogIn
  //.list-group-item-heading
    a(href='#{basepath}/case/${caseId}/${prevRevision}')
      span.glyphicon.glyphicon-circle-arrow-left
    a(href='#{basepath}/case/${caseId}') 
      span.glyphicon.glyphicon-ok-sign
    a(href='#{basepath}/case/${caseId}/${nextRevision}')
      span.glyphicon.glyphicon-circle-arrow-right
