span#user-info
  .glyphicon.glyphicon-user
  span.user-name &nbsp; #{UserName} 
  if !isLocal
    if(UserName != "Guest")
      button.btn.btn-default.navbar-btn.clickable(href='#{basepath}/logout')
        span.glyphicon.glyphicon-log-out
        | &nbsp;Logout
    else
      button.btn.btn-default.navbar-btn.clickable(href='#{basepath}/auth/github')
        span.glyphicon.glyphicon-log-in
        | &nbsp;Login
  else
    button.btn.btn-default.navbar-btn.clickable.disable(disabled)
      span.glyphicon.glyphicon-log-in
      | &nbsp;Login
  span#top-menu-right.navbar-right
  #user-list
    br
+template("user-list-tmpl")
  span(style="color: ${Color}")
    .glyphicon.glyphicon-user
    |{{if IsEditMode == true}}
    small.glyphicon.glyphicon-pencil(style="vertical-align: super;")
    |&nbsp;{{else}}{{/if}}
    |${UserName} &nbsp;
