span
  #top-menu-right.navbar-right
  if !isLocal
    if(UserName != "Guest")
      a(href='#{basepath}/logout')
        button.btn.btn-default.navbar-btn.clickable.navbar-right
          span.glyphicon.glyphicon-log-out
          | &nbsp;Logout
    else
      .dropdown.clickable.navbar-right
        button.btn.navbar-btn.btn-default.dropdown-toggle.clickable(type='button' data-toggle='dropdown')
          span.glyphicon.glyphicon-log-in
          | &nbsp; Login
          span.caret
        ul.dropdown-menu
          li
            a(href='#{basepath}/auth/github')
              span.glyphicon.glyphicon-user
              | &nbsp; Github
          li
            a(href='#{basepath}/auth/facebook')
              span.glyphicon.glyphicon-user
              | &nbsp; Facebook
          li
            a(href='#{basepath}/auth/twitter')
              span.glyphicon.glyphicon-user
              | &nbsp; Twitter
  else
    button.btn.btn-default.navbar-btn.clickable.navbar-right.disable(disabled)
      span.glyphicon.glyphicon-log-in
      | &nbsp;Login
      span.caret
  span.user-name.navbar-text.navbar-right(style='color: black; margin-left: 0px;') &nbsp; #{UserName} 
  span.glyphicon.glyphicon-user.navbar-text.navbar-right(style='color: black; margin-left: 0px; margin-right: 0px;')
  #user-list.navbar-right
    br
+template("user-list-tmpl")
  span(style="color: ${Color}")
    .glyphicon.glyphicon-user
    |{{if IsEditMode == true}}
    small.glyphicon.glyphicon-pencil(style="vertical-align: super;")
    |&nbsp;{{else}}{{/if}}
    |${UserName} &nbsp;
